<?xml version="1.0"?>
<config>
    <modules>
        <Cammino_Uniquetaxvat>
            <version>0.0.1</version>
        </Cammino_Uniquetaxvat>
    </modules>
    <global>
        <helpers>
            <uniquetaxvat>
                <class>Cammino_Uniquetaxvat_Helper</class>
            </uniquetaxvat>
        </helpers>
        <events>
            <customer_save_before>
                <observers>
                    <uniquetaxvat>
                        <type>singleton</type>
                        <class>Cammino_Uniquetaxvat_Model_Observer_Savetaxvat</class>
                        <method>validate</method>
                    </uniquetaxvat>
                </observers>
            </customer_save_before>
        </events>
    </global>
</config>